*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ContactCardCont{
    height: 100px;
    width: 100%;
    /* margin: 0 5%; */
    border: 1px solid #8a520a;
    display: flex;
    align-items: center;
    background-color: #181818;
    border-radius: 20px;
    margin-top: 20px;
}

.ContactCardCont:hover{
    border: 1px solid #e78d18;
}

.iconBox{
    height: 40px;
    width: 40px;
    background: linear-gradient(to right, #e78d18 0%, #dd2c26 70%);
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

}

.iconBox{
    color: white;
}

.iconNameDes h2{
    text-align: left;
    margin-left: 30px;
    color: white;
    margin-bottom: 3px;
}

.iconNameDes p{
    text-align: left;
    margin-left: 30px;
    color: #b2b2ae;
}

